/* Sass Document */
// this is a saas variable. just like less, it's a placeholder 
// SASS variables starts with a dollar sign.
$text-color: #255
$bg-color: #fcc

//SASS MIXIN. we will use two different syntax here.
@mixin circles()
  border-radius: 50%
  border: 1px solid $text-color
  background: $bg-color
  text-align: center
  color: #fff
  
//alternative SASS syntax

=trans_w_prefixes($options)
  -webkit-transition: $options
  -moz-transition: $options
  transition: $options

body
  font-family: Tahoma, Arial, sans-serif
  font-size: 16px
  color: $text-color
  
  
h1
  background-color: $text-color
  color: $bg-color
  
#small_circle
  @include circles()
  width: 70px
  height: 70px
  +trans_w_prefixes(all ease .4s)
  
#medium_circle
  @include circles()
  width: 150px
  height: 150px
  +trans_w_prefixes(all ease .7s)
  
#large_circle
  @include circles()
  width: 370px
  height: 370px
  +trans_w_prefixes(all ease .9s)
  
#small_circle:hover
  width: 120px
  height: 120px
  
