/* Sass Document */
body {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
  color: #255; }

h1 {
  background-color: #255;
  color: #fcc; }

#small_circle {
  border-radius: 50%;
  border: 1px solid #255;
  background: #fcc;
  text-align: center;
  color: #fff;
  width: 70px;
  height: 70px;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  transition: all ease 0.4s; }

#medium_circle {
  border-radius: 50%;
  border: 1px solid #255;
  background: #fcc;
  text-align: center;
  color: #fff;
  width: 150px;
  height: 150px;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  transition: all ease 0.7s; }

#large_circle {
  border-radius: 50%;
  border: 1px solid #255;
  background: #fcc;
  text-align: center;
  color: #fff;
  width: 370px;
  height: 370px;
  -webkit-transition: all ease 0.9s;
  -moz-transition: all ease 0.9s;
  transition: all ease 0.9s; }

#small_circle:hover {
  width: 120px;
  height: 120px; }
