/* LESS Document */
/* CSS Document */
/* this comment show in the CSS ersult file */
body {
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: #06064C;
}
h1 {
  background: #D8B6B6;
}
h2 {
  color: #D8B6B6;
  background: #06064C;
}
#small_circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #06064C;
  background: #D8B6B6;
  background: radial-gradient(#fcc, #633);
  text-align: center;
  color: #fff;
}
#medium_circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #06064C;
  background: #D8B6B6;
  background: radial-gradient(#fcc, #633);
  text-align: center;
  color: #fff;
}
#large_circle {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 7px solid #06064C;
  background: #D8B6B6;
  background: radial-gradient(#fcc, #633);
  text-align: center;
  color: #fff;
}
