/* LESS Document */
/* CSS Document */
/* this comment show in the CSS ersult file */

// create variable that can BE RE USED THROUGHOUT THE STYLESHEET.
@text-color: #06064C;
@bg-color: #D8B6B6;
@grad: radial-gradient(#fcc, #633);

// this is MIXIn. it is ued for styles that are common to multiple elemnts.
#circles(@border-width){
  border-radius: 50%;
  border: @border-width solid @text-color;
  background: @bg-color;
  background: @grad;
  text-align: center;
  color: #fff;
  
}

// this comment only show in the Less DOcument
body{
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  color: @text-color;
}
h1{
  background: @bg-color;
}
h2{
  color: @bg-color;
  background: @text-color;
}

#small_circle{
  width: 70px;
  height: 70px;
  #circles(1px);
}
#medium_circle{
  width: 150px;
  height: 150px;
  #circles(3px);
}
#large_circle{
  width: 350px;
  height: 350px;
  #circles(7px);
}
