/* CSS for SIngle Column Fixed Header */
body{
  font-size: 16px;
  font-family: Tahoma, sans-serif;
  background-color: #444;
  margin: 0;
}
#wrapper{
  width: 960px;
  background-color: #fff;
  margin: 0 auto;
  /* Give parent elements position: relative, so that any absolutely
     positioned elements that are children, will take their point
     of reference from those parents. Without any parent with 
     positioning applied, an aboslutely positioned element will 
     take its reference all the way from the <body> element. */
  position: relative;
  padding-top: 108px;
}

header{
  width: 100%;
  background-color: #ccc;
  height: 108px;
  /* Position:fixed is much like absolute. It takes the element 
     out of the "flow" of the page, but unlike absolute, it will 
     take its reference from the <body> tag, regardless of any 
     parents with positioning. */
  position: fixed;
  z-index: 100;
  box-shadow: 0 7px 12px rgba(0,0,0,0.60);
}
/* To make the elements inside the <header> element conform to the
   same width as the wrapper (960), we need to place them inside 
   another "container". This "inner_header" container is then set
   to margin: 0 auto; so that it sits in the middle of the page, 
   right above the wrapper. */
header #inner_header{
  width: 960px;
  height: 108px;
  position: relative;
  margin: 0 auto;
}
/* Absolutely positioning the header elements. They will take 
   their reference from the parent, inner_header. */
header #logo{
  position: absolute;
  top: 8px;
  left: 0;
}
#yin-yang {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: #eee;
  border-color: red;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
}
#yin-yang:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #eee;
  border: 18px solid red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}
#yin-yang:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: red;
  border: 18px solid #eee;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}

header #tagline{
  font-size: 1.8em;
  position: absolute;
  top: 8px;
  right: 0;

}
header #cta{
  font-size: 1.2em;
  position: absolute;
  bottom: 8px;
  right: 0;
}
header nav{
  position: absolute;
  left: 125px;
  bottom: 8px;
  background-color: #666;
}
/* Styles for navigation list */
/* remove default margin and padding from the UL. */
header nav ul#navlist{
  margin: 0;
  padding: 0;
}
/* Set the LI elements to display as inline-block, so that they
   line up horizontally, but still take block properties. */
header nav ul#navlist li{
  list-style-type: none;   
  display: inline-block;
}
/* <a> elements are inline, so they won't take vertical padding, 
   margin, or any width/height properties. Setting them to "block",
   works well, and they won't stack since they are all inside the 
   <li> elements, which are inline-block. 
   
   Use padding to increase the "clickable" area of each navigation
   item. This makes it easier to touch users, and also spaces apart
   the navigation items. 
   
   */
header nav ul#navlist li a{
  text-decoration: none;
  color: #fff;
  padding: 8px 24px 10px 24px;
  margin-left: 3px;
  margin-right: 3px;
  display: block;
}
header nav ul#navlist li a:hover{
  color: #c66;
  background-color: #999;
}

main{
  /* for ALL IE browsers, set the display to block, 
     otherwise it will be seen as inline */
  display:block;
  min-height: 450px;
  padding: 1px 15px 10px 15px;
}

footer{
  background-color: #000;
  color: #fff;
  height: 175px;
}
footer #footer_col1,
footer #footer_col2,
footer #footer_col3{
  float: left;
  width: 33%;
  padding-top: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  height: 140px;
}
footer #footer_col1{

}
footer #footer_bottom{
  clear: both;
  text-align: center;
}


#fixedbox{
  position: fixed;
  top: 120px;
  left: 10px;
  width: 250px;
  height: 100px;
  background-color: #ccf;
  border: 1px solid #000;
}
    